{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Create Review{% endblock %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock %}
{% block content %}
    <h1 class="main_header">Write new Review</h1>
    <div class="form_container">
        <form class="my_form" method="POST" action="{% url "review_add" %}">
            {% include 'partial/review_form.html' with button_text="Create" %}
        </form>
    </div>
{% endblock %}
{% block footer %}
    <footer class="page-footer my_footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div>
        <p>Our 5 star Hotel provides only the best in class services for our clients.
            We welcome you anytime and hope you have a wonderful experience. </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
      <hr class="clearfix w-100 d-md-none">
    </div>
  </div>
  <hr>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <div class="footer-copyright text-center py-3">© 2019 Created by: Mikhail Vishin</div>
</footer>
{% endblock %}