body {
    font-family: Arial, sans-serif;
}
.main_header {
    text-align: center;
    margin-top: 30px;
}
.my_card {
    padding: 15px 15px 5px;
    margin-top: 50px;
    margin-left: 50px;
}
.card_names {
    font-weight: bold;
}
.sep_line {
    color: #212529
}
.card_links a {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
}
.edit_icon {
    color: #212529
}
.card_links a:hover{
    color: dimgrey;
}
.trash_can {
    color:#660000;
}
.new_review_btn{
    font-size: 20px;
    margin-left: 20px;
}
.delete_header {
    margin-top: 100px;
    margin-bottom: 50px;
}
.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}
.field_required {
    font-weight: bold;
    color: red;
}
.my_form {
    margin-right: auto;
    margin-left: auto;
}
.p_cancel {
    display: flex;
}
.my_confirm {
    font-size: 20px;
}
.cancel {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px
}
.my_footer {
    background-color: #212529;
    color: white;
    margin-top: 100px;
}

