body {
    font-family: Arial, sans-serif;
}
.main_header {
    text-align: center;
    margin-top: 30px;
}
.my_card {
    padding: 15px 15px 5px;
    margin-top: 50px;
    margin-left: 50px;
}
.card_links a {
    padding-left: 20px;
    padding-right: 20px;
}
.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}
.field_required {
    font-weight: bold;
    color: red;
}